[Desktop Entry]
Name=AuCaptureSchemeHandler
GenericName=Text Editor
Comment=A aucapture:// x-scheme handler
TryExec=aucapture_gtk
Exec=aucapture_gtk %u
Terminal=false
Type=Application
Keywords=Capture;AmongUs;
Icon=steam_icon_945360
Categories=Utility;Game;
StartupNotify=false
MimeType=x-scheme-handler/aucapture;
