[Desktop Entry]
Version=1.0
Type=Application
Name=Discord Fast
GenericName=Internet Messenger
Comment=All-in-one voice and text chat for gamers that's free, secure, and works on both your desktop and phone.
Exec=discord --ignore-gpu-blocklist --disable-features=UseOzonePlatform --enable-features=VaapiVideoDecoder --use-gl=desktop --enable-gpu-rasterization --enable-zero-copy --enable-blink-features=MiddleClickAutoscroll
Icon=discord
Categories=Network;InstantMessaging;
StartupWMClass=discord
