[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/potato/desk/synchole]
row=3
col=1

[/home/potato/desk/crypto]
row=2
col=1

[/home/potato/desk/notes]
row=6
col=0

[/home/potato/desk/resume]
row=1
col=1

[/home/potato/desk/pdfs]
row=7
col=0

[/home/potato/desk/dead_linux_dots]
row=4
col=1

[/home/potato/desk/Old Firefox Data]
row=8
col=0

[/home/potato/desk/The Expendabros.desktop]
row=0
col=1

[4563c106-88f5-423f-abd9-f994e91ce88e]
row=1
col=0

[69fa89cb-26a2-4da2-8231-2801b08d657f]
row=0
col=0

[4d02b2e8-798e-4561-905b-01cc52960a42]
row=2
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/potato]
row=5
col=0

